body{
    text-align: center;
    background-color: lightslategray;
}
.listing{
    background: #666666;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
table{
    background: #666666;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background: #BBBBBB;
}
